<div class="container" style="padding-top: 40px;">
    <div class="img__container">
        <img src="static/img/mailing.jpg" class="img">
    </div>
    <div class="content">
        <h2 class="subtitle">Подпишись на рассылку</h2>
        <h1 class="title">Получи скидку</h1>
        <input type="text" class="mail" placeholder="Адрес электронной почты" name="mail" required>
        <input type="submit" value="Подписаться" class="subscribe">
        <p class="text">Никакого спама.</p>
    </div>
</div>
